.followedProfileSection {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
  border-radius: 5px;
  margin-top: 20px;
  color: rgb(168, 166, 166);
}

.followedProfileSection:hover {
  background-color: rgb(20, 20, 20);
  cursor: pointer;
  color: white;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.userName {
  text-align: center;
  margin-top: 10px;
}
