.homeDiv {
    display: flex;
    flex-wrap: wrap;
}

.followedDiv {
    width: 12%;
    position: sticky;
    top: 0.5em;
    height: 100vh;
    overflow: auto;
    text-align:justify;
}

.bodyDiv {
    width: 58%;
    background-color: rgb(46, 46, 46);
    height: 100vh;
    overflow: auto;
    text-align:justify;
}

.commentsDiv {
    width: 30%;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
    text-align:justify;
}

.newPostDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}