.userProfileSection {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.2em 1.5em;
    margin-top: 2em;
    width: 65%;
    cursor: pointer;
}

.userProfileSection img {
    width: 2.5vw;
    margin-right: 0.5em;
    border-radius: 999px;
}

.userProfileSection p {
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}